<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111373113185-45t717re94vbo0hkatpiurm252tbpm99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111373113185-45t717re94vbo0hkatpiurm252tbpm99</string>
	<key>API_KEY</key>
	<string>AIzaSyDpsDnisazQOONYD6YHRhkEuu9S2NcgHyo</string>
	<key>GCM_SENDER_ID</key>
	<string>111373113185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oyt.oytChef</string>
	<key>PROJECT_ID</key>
	<string>on-your-table</string>
	<key>STORAGE_BUCKET</key>
	<string>on-your-table.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111373113185:ios:f6ef5a6567b2dbb3945720</string>
	<key>DATABASE_URL</key>
	<string>https://on-your-table-default-rtdb.firebaseio.com</string>
</dict>
</plist>